body {
  background-color: #FAF9F6;
}

.image-container {
  width: 80%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.introduction {
  line-height: 1.8;
  text-align: justify;
}

@media (max-width: 600px) {
  .mobile-view {
    flex-direction: column;
  }

  .mobile-view .image-container,
  .mobile-view .introduction-container {
    width: 100%;
  }
}